@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

/*  _________________
    | Color Palette |
    |---------------|
    |    #FFFBF5    |
    |    #F7EFE5    |
    |    #C3ACD0    |
    |    #7743DB    |
    |---------------|
*/

body {
    font-family: 'Montserrat';
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#title {
    font-size: 2.4em;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}

#MiscHolder {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

#newButton {
    background-color: #C3ACD0;
    opacity: .5;
    width: 100%;
    padding: .7em;
    border-radius: 2em;
    text-align: center;
    border-style: ridge;
    border-color: #7743DB;
    font-weight: 1000;
    color: #7743DB;
    user-select: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
}

#newButton:hover {
    cursor: pointer;
    transition-duration: 250ms;
    opacity: .9;
}

#popupholder {
    z-index: 30;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupbacker {
    z-index: 35;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    height: inherit;
    background-color: #b4b4b4;
    opacity: .3;
}

#popup {
    z-index: 50;
    position: fixed;
    margin: auto;
    background-color: #F7EFE5;
    opacity: 1;
    width: 60%;
    height: fit-content;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

#displayholder {
    width: 100%;
    background-color: #FFF;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
}

#displayholder canvas {
    padding: 1em;
    width: 40% !important;
    height: auto !important;
}

#displayholder div {
    padding: 1em;
    padding-right: 2em;
    width: 60% !important;
    height: fit-content !important;
}

.subtitle {
    font-size: 1.7em;
    font-weight: 800;
    margin-right: auto;
    margin-bottom: -.25em;
}

.misc_label {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.deleteBTN {
    background-color: #C3ACD0;
    opacity: .5;
    padding: .2em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: .6em;
    text-align: center;
    border-style: ridge;
    border-color: #7743DB;
    font-weight: 1000;
    color: #7743DB;
    user-select: none;
    margin-left: auto;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
}

.deleteBTN:hover {
    cursor: pointer;
    transition-duration: 250ms;
    opacity: .9;
}

.Button {
    background-color: #C3ACD0;
    opacity: .5;
    width: 100%;
    padding: .7em;
    margin-top: 1em;
    margin-bottom: .3em;
    border-radius: 2em;
    text-align: center;
    border-style: ridge;
    border-color: #7743DB;
    font-weight: 1000;
    color: #7743DB;
    user-select: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
}

.Button:hover {
    cursor: pointer;
    transition-duration: 250ms;
    opacity: .9;
}

.backgroundCreditR {
    margin-left: auto;
}

.backgroundCreditL {
    margin-right: auto;
}

.Selector {
    width: 100%;
    border-radius: 2em;
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .3em;
    font-size: 1em;
    font-family: 'Montserrat';
}

.Input {
    width: 100%;
    border-radius: 2em;
    padding: .7em;
    margin-top: .5em;
    margin-bottom: .3em;
    font-size: 1em;
    border-style: none;
    font-family: 'Montserrat';
}

.Input2 {
    width: 100%;
    border-radius: 2em;
    padding: .7em;
    margin-top: .5em;
    margin-bottom: .3em;
    font-size: 1em;
    border-style: none;
    font-family: 'Montserrat';
}

.link {
    color: #7743DB;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    transition-duration: 150ms;
    color: #C3ACD0;
}